<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallet App</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
<div class="container">
    <a th:href="@{/}">
        <img src="/images/logo.png" alt="My Wallet Logo" class="logo" />
    </a>
    <p class="subtitle">Manage your finances securely and efficiently</p>

    <div class="button-group">
        <a th:href="@{/register}" class="btn btn-primary">Register</a>
        <a th:href="@{/login}" class="btn btn-secondary">Login</a>
    </div>
</div>
</body>
</html>
